
# ignore all DS_Store files
*.DS_Store

# ignore RProj files
*.Rproj
.Rproj.user

# ignore PDF files
*.pdf

# ignore PNG files
*.png

# ignore R data files
*.rds
*.RDS

# ignore local assistant guidance
CLAUDE.md

